{% extends "AppMundial/base.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h3>Selecciones del Mundial</h3>
    <ul>
        {% for selecciones in object_list %}
            <p>{{selecciones.nombre}}</p>
            <p>
                <a href="{% url 'Details' selecciones.id %}">Ver</a>
                <a href="{% url 'Edits' selecciones.id %}">Editar</a>
                <a href="{% url 'Deletes' selecciones.id %}">Borrar</a>
            </p>
        {% endfor %}

    </ul>
    
{% endblock %}